.signInButton button {
  background: #eb2e51;
  color: black;
}
.FormContaier .orContainer {
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
.FormContaier .orContainer p {
    font-weight: bold;
}
.FormContaier .googleAuth .googleButton{
  width: 100%;
  display: flex;
  justify-content: center;
}
.otpForm {
  margin-top: 20px;
  width: 100%;
}
.errorMessage {
  color: red;
}