.userDatatable {
    flex: 6;
    height: 600px;
    margin: 20px;
    background-color: white;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}