.FormContaier .inputField {
  margin-top: 10px;
}
.FormContaier .signInButton Button {
  margin-top: 10px;
  width: 100%;
}
.FormContaier .googleAuth .googleButton{
  width: 100%;
  display: flex;
  justify-content: center;
}