header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  height: 60px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.logo {
  min-width: 40px;
  width: 50px;
}
/* .inputBox {
  background: #fff;
  border: radius 25px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 8px 15px;
  width: 150px;
}
.inputBox .searchIcon {
  color: #787a84;
  font-size: 20px;
}
.inputBox input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  color: #787a84;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 500;
} */
 .shoppingCart {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.shoppingCart .cart {
  font-size: 30px;
  color: #373848;
}
.shoppingCart .cart_content {
  width: 20px;
  height: 20px;
  background: #f8901c;
  border-radius: 100%;
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  top: -8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileContainer {
  display: flex;
  align-items: end;
}
.profileContainer .imgBox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100vw;
  background: #373848;
  display: flex;
  justify-content: center;
}
.profileContainer .imgBox .profilePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.profileContainer .userName {
  font-size: 16px;
  margin-left: 8px;
  font-weight: 500;
  display: none;
  align-items: center;
} 
.toggleMenu {
  transform: rotate(90deg);
}
.toggleMenu .toggleIcon {
  color: #373848;
  font-size: 30px;
}
.loginButton {
  background-color: #3f3cd8;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  right: 40px; ;
  /* bottom: 0; */
}
.loginButton:hover {
  opacity: 1;
}
.registerButton {
  background-color: #32da5f;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 110px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;

}
.button{
  margin-left: auto;
}
.registerButton:hover {
  opacity: 1;
}
